*
{padding:0;
    margin:0;
}
body, html {
    height: 100%;
  }

.root{
    background-color: #221f1f;
    display: block;
    color: white;
    height: auto;

}


.header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
    align-items: center;
    gap:10px;


}

.header a {
    color: white;
    text-decoration: none;
}

.title {
    Color: #e50914;
    display: flex;
    align-items: center;
    height: 41px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

}

.title:hover{
    color: white;
}


.actions {
    display: flex;
    align-items: center;
    color: white;
    height: 37px;
    padding: 0 5px;
    cursor: pointer;
}



.actions a{
    font-weight: 400;
    padding:10px 10px;
    font-size: 14px;
    transition: background 0.1s ease;
    border-radius: 3px;
}

.actions a:hover{
    background-color: #e50914;
    }

    .search{
        height: 37px;
        width: 200px;
        background: transparent;
        color: #ffffff;
        appearance: none;
        border: 2px solid rgba(245, 245, 241, 0.1);
        outline: none;
        border-radius: 30px;
        padding: 0 10px;
        pointer-events: all;
        transition: border 0.25s ease, width 0.125s ease 0.125s;
    }

    .search:focus{
        border: 2px solid #e50914;
        width:350px;
    }

.name{
    margin-left: auto;
    color:white;  
}
  
  .container {
  padding: 75px 100px;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 150px;
  
  }

  h3{
    color:white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  p{
    color:white;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 25px;
  }

   .button{
    background:transparent;
    padding: 10px 20px;
    color:white;
    border-radius: 20px;
    cursor: pointer;
   }

   .buttons{
    display: flex;
    gap:10px;
   }

  .button-watch-now{
    border: 2px solid #e50914;
  }


  .button-my-list{
    border: 2px solid rgba(245, 245, 241, 0.2);
    transition: border 0.125s ease, background 0.125s ease;
  }

  .button-watch-now:hover{
    border: 2px solid #e50914;
    background: #e50914;
  }
  .button-my-list:hover{
    border: 2px solid #f5f5f1;
  }

  .button-text::before{
    content: '+';
  }

  h3{
    color:white;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 25px;
  }


  .movies{
    padding: 20px;
  }

  .movie-tile{
    display: flex;
    gap: 15px;
  }
  .image{
    flex:1;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    transition: background 1s ease;
  }
  

  .image:hover{
    background-size: 150%;
  }
  

  
.movie-description{
  height: 100%;
  padding: 20px;
  line-height: 2rem;
  font-size: 25px;
  opacity:0;
}

.image:hover .movie-description{
  opacity: 1;
}